* {
    font-family: 'Roboto Slab', serif;
    background-image: url("https://unsplash.com/photos/jLwVAUtLOAQ");
}
.portfolio-image {
    float: right;
    padding-top: 0ex;
    margin: 0ex;
}
.p-size{
    font-size:300%;
    color: white;
    font-family: 'Roboto Slab', serif;
font-family: 'Source Serif 4', sans-serif;
}
.two-heading {
    font-size: 600%;
    color: white;
    font-family: 'Neonderthaw', cursive;
    text-align: center;
}
.parent{
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    background-color: rgb(169, 141, 233);
    padding-bottom: 1.5em;
    color: white;
}
.child-wrapper {
    display: flex;
}
.name {
    margin-right: 25px;
    padding-right: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.nav-item{
     padding-left: 5px;
     margin-right: 50px;
     color: white;
     text-decoration: none;
}
.nav-item:hover {
    color: rgb(53, 78, 179);
}
.btn {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
   }
   
   .btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   .btn:hover {
    color: rgb(104, 104, 197);
   }
   
  .btn:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .btn:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .btn:active:before {
    background: #3a0ca3;
    transition: background 0s;
   }
   .bodysection{
       background-color: rgb(139, 101, 226);
       margin-top: -80px;
   }