* {
  font-family: 'Roboto Slab', serif;
}

.bodyhobbies{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 300px 0 300px;
}
.heading {
  text-align: center;
  font-size: 130px;
  font-family: 'Neonderthaw', cursive;
  color: white;
}
.parent{
  display: flex;
  justify-content: space-between;
  font-size: 36px;
  background-color: rgb(169, 141, 233);
  padding-bottom: 1.5em;
  color: white;
}
.child-wrapper {
  display: flex;
}
.name {
  margin-right: 25px;
  padding-right: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.nav-item{
   padding-left: 5px;
   margin-right: 50px;
}
.body-section {
  background-color: rgb(139, 101, 226);
  margin-top: -130px;
}
.hobb-heading {
  font-size: 40px;
  font-family: 'Roboto Slab', serif;
  font-family: 'Source Serif 4', sans-serif;
  color: white;
}