* {
    font-family: 'Roboto Slab', serif;
  }

.parent{
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    background-color: rgb(169, 141, 233);
    padding-bottom: 1.5em;
    color: white;
}
.child-wrapper {
    display: flex;
}
.name {
    margin-right: 25px;
    padding-right: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.nav-item{
     padding-left: 5px;
     margin-right: 50px;
}
.container{
    text-align: center;
}
.skill-section {
    background-color:  rgb(139, 101, 226);
    margin-top: -70px;
    text-align: center;
}
.nav-item{
    text-decoration: none;
    color: white;
}
.skill-heading {
    font-size: 70px;
    font-family: 'Neonderthaw', cursive;
    color: white;
}
.skill-center {
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    font-family: 'Source Serif 4', sans-serif;
    color: white;
}